html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: #0b0c10;
	font-family: 'Montserrat', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3 {
	color: #66fcf1;
}

h1 {
	font-size: 2.2rem;
	margin-bottom: 1rem;
}

p {
	color: #fff;
	font-size: 16px;
	line-height: 1.4;
}
